body {
    background-color: #181a1b;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #212529;
}

.nav .nav-link.active {
    background-color: #dc3545;
    color: #fff;
}

.navbar-brand {
    color: #dc3545;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #dc3545;
}

.nav .nav-link {
    color: #fff
}

.navbar-toggler {
    background-color: #fff;
}

#carouselExample {
    width: 100%;
    background-color: #181a1b;
}

.dark-accordion .accordion-button,
.dark-accordion .accordion-body {
    background-color: #212529;
    color: #fff;
}

.dark-accordion .accordion-button:hover {
    background-color: darkgrey;
}

.placeholder-white::placeholder {
    color: white;
}


